<nav class="navbar navbar-defaul" role="navigation">
	<ul class="nav nabrab-nav">
		<li><a href="/">Главная</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login">Войти</a></li>
	</ul>
</nav>